params {
reference = null
harm = null
gwascatalog = null
}


manifest {
    name            = 'EBISPOT/gwas-sumstats-harmoniser'
    defaultBranch   = 'nextflow'
    homePage        = 'https://github.com/EBISPOT/gwas-sumstats-harmoniser/'
    mainScript      = 'main.nf'
}


if (params.reference) {
if (!params.harm & !params.gwascatalog) {
    includeConfig 'config/reference.config'
    // Full path where to store vcf file
    println "params.reference: '${params.reference}'"
    ref=params.reference
    println "ref: '${ref}'"
    println "chrom: '${chrom}'"
}
}

if (params.harm) {
if (!params.reference & !params.gwascatalog) {
    includeConfig 'config/lsf.config'
}
}

if (params.gwascatalog) {
if (!params.harm & !params.reference) {
    includeConfig 'config/gwascatalog.config'
}
}

