/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    gwascatalogharm Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for LSF running
----------------------------------------------------------------------------------------
*/

// global default params
// Use the params config for params:
includeConfig 'params.config'

process {
    executor = 'local'
    container = 'cfe7794cb2c5'
    withName: ftp_copy {
        queue = 'datamover'
    }
}

// Run with singularity and latest image
singularity.enabled = false
docker.enabled = true