manifest {
    name            = 'EBISPOT/gwas-sumstats-harmoniser'
    defaultBranch   = 'nextflow'
    homePage        = 'https://github.com/EBISPOT/gwas-sumstats-harmoniser/'
    mainScript      = 'main.nf'
}


if (params.reference) {
if (!params.harm & !params.gwascatalog) {
    includeConfig 'conf/reference.config'
}
}

if (params.harm) {
if (!params.reference & !params.gwascatalog) {
    includeConfig 'conf/lsf.config'
}
}

if (params.gwascatalog) {
if (!params.harm & !params.reference) {
    includeConfig 'conf/gwascatalog.config'
}
}

