appdirs==1.4.4
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
ConfigArgParse==1.2.3
datrie==0.8.2
decorator==4.4.2
docutils==0.16
gitdb==4.0.5
GitPython==3.1.2
idna==2.9
importlib-metadata==1.6.0
ipython-genutils==0.2.0
jsonschema==3.2.0
jupyter-core==4.6.3
nbformat==5.0.6
numpy==1.18.4
pandas==1.0.3
psutil==5.7.0
pyarrow==0.17.1
pyliftover==0.4
pyrsistent==0.16.0
pysam==0.18.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
ratelimiter==1.2.0.post0
requests==2.23.0
six==1.15.0
smmap==3.0.4
snakemake==5.18.1
toposort==1.5
traitlets==4.3.3
urllib3==1.26.5
wrapt==1.12.1
zipp==3.1.0