process {
    
    cpus   = { 1    * task.attempt }
    memory = { 1.GB * task.attempt }
    time   = { 1.h  * task.attempt }

    errorStrategy = { task.exitStatus in [130..140] ? 'retry' : 'ignore' }
    maxRetries    = 3
    maxErrors     = '-1'

    withName:map_to_build {
        memory = { 28.GB * task.attempt }
        time   = { 5.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST"},
            mode: 'copy'
            ]
    }

    withName:ten_percent_counts {
        publishDir =[ 
            path:{"${launchDir}/$GCST/ten_sc"},
            mode: 'copy'
            ]
    }

    withName:ten_percent_counts_sum {
        publishDir =[ 
            path:{"${launchDir}/$GCST"},
            mode: 'copy'
            ]
    }

    withName:generate_strand_counts {
        memory = { 5.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/all_sc"},
            mode: 'copy'
            ]
    }

     withName:summarise_strand_counts {
        publishDir =[ 
            path:{"${launchDir}/$GCST"},
            mode: 'copy'
            ]
    }

    withName:harmonization {
        memory = { 5.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/harmonization"},
            mode: 'copy'
            ]
    }

    withName:concatenate_chr_splits {
        publishDir =[
            path:{"${launchDir}/$GCST/final"},
            mode: 'copy'
            ]
    }

    withName:qc {
        time   = { 5.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/final"},
            mode: 'copy'
            ]
    }

     withName:harmonization_log {
        publishDir =[ 
            path:{"${launchDir}/$GCST/final"},
            mode: 'copy'
            ]
    }

    }
