process {
        
    withName:failed_copy {
        memory = { 5.GB * task.attempt }
        time   = { 1.h  * task.attempt }
        publishDir =[ 
            path:{"${params.ftp}"},
            mode: 'move'
            ]
    }

    withName:ftp_copy {
        memory = { 5.GB * task.attempt }
        time   = { 1.h  * task.attempt }
        queue = 'datamover'
        publishDir =[ 
            path:{"${params.ftp}"},
            mode: 'move'
            ]
    }
    }
