params {
    to_build='38'
    threshold='0.99'
    chrom=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', 'X', 'Y', 'MT']
    
    ref='<path to directory of references>'
    all_harm_folder='<path to directory containing all files to be harmonized>'
    ftp='<path of FTP>'
    failed='<path to store failed files>'
    }

process {
    
    withName:failed_copy {
        publishDir =[ 
            path:{"${params.failed}"},
            mode: 'move'
            ]
    }

    withName:ftp_copy {
        queue = 'datamover'
        publishDir =[ 
            path:{"${params.ftp}"},
            mode: 'move'
            ]
    }
    }
