process {
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'ignore' }
    maxRetries    = 5
    maxErrors     = '-1'
    
    withName:failed_copy {
        memory = { 5.GB * task.attempt }
        time   = { 1.h  * task.attempt }
        publishDir =[ 
            path:{"${params.failed}"},
            mode: 'move'
            ]
    }

    withName:ftp_copy {
        memory = { 5.GB * task.attempt }
        time   = { 1.h  * task.attempt }
        queue = 'datamover'
        publishDir =[ 
            path:{"${params.ftp}"},
            mode: 'move'
            ]
    }
    }
