params {
    // Full path where to store vcf file
    script_path='/hps/software/users/keane/amp/harmonization_pipeline/harmoniser/github/gwas-sumstats-harmoniser'
    // chromsomes to download
    chrom=['20', 'Y', 'MT']
    // resources of reference
    ref = '/nfs/production/keane/amp/AMP_harmonization/harmonization/test/nextflow_test/reference1'
    remote_vcf_location = 'ftp://ftp.ensembl.org/pub/current_variation/vcf/homo_sapiens'
    remote_ensembl_variation = 'ftp://ftp.ensembl.org/pub/release-100/mysql/homo_sapiens_variation_100_38'
    
}

process {  
    executor = 'lsf'
    queue = 'short'

    withName:make_parquet_refs {
        memory = { 5.GB }
}
}

// Run with singularity and latest image
// process.container = 'docker://ebispot/gwas-sumstats-harmoniser:latest'
// singularity.enabled = true
