params {
    // Full path where to store vcf file
   ref = '<path to directory of references>'
    
    // chromsomes to download
    chrom=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', 'X', 'Y', 'MT']
    
    // resources of reference
    remote_vcf_location = 'ftp://ftp.ensembl.org/pub/current_variation/vcf/homo_sapiens'
    remote_ensembl_variation = 'ftp://ftp.ensembl.org/pub/release-100/mysql/homo_sapiens_variation_100_38'
}

process {  
    executor = 'lsf'
    queue = 'short'

    withName:make_parquet_refs {
        memory = { 5.GB }
}
}

// Run with singularity and latest image
// process.container = 'docker://ebispot/gwas-sumstats-harmoniser:latest'
// singularity.enabled = true
