params {
    to_build='38' 
    chrom=['1','22']
    ref=System.getenv('NXF_ASSETS') ? "$NXF_ASSETS/EBISPOT/gwas-sumstats-harmoniser/test_data" : "$HOME/.nextflow/assets/EBISPOT/gwas-sumstats-harmoniser/test_data"
    threshold='0.5'
    harm = true
    file= System.getenv('NXF_ASSETS') ? "$NXF_ASSETS/EBISPOT/gwas-sumstats-harmoniser/test_data/GCST1.tsv" : "$HOME/.nextflow/assets/EBISPOT/gwas-sumstats-harmoniser/test_data/random_name.tsv"
    }

process{

    withName:map_to_build {
        memory = { 3.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/map_to_build"},
            mode: 'copy'
            ]
    }

    withName:ten_percent_counts {
        memory = { 3.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[
            path:{"${launchDir}/$GCST/ten_sc"},
            mode: 'copy'
            ]
    }

    withName:ten_percent_counts_sum {
        publishDir =[
            path:{"${launchDir}/$GCST"},
            mode: 'copy'
            ]
    }
 
    withName:generate_strand_counts {
        memory = { 3.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/all_sc"},
            mode: 'copy'
            ]
    }
    
     withName:summarise_strand_counts {
        publishDir =[
            path:{"${launchDir}/$GCST"},
            mode: 'copy'
            ]
    }

    withName:harmonization {
        memory = { 3.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/harmonization"},
            mode: 'copy'
            ]
    }

    withName:concatenate_chr_splits {
        publishDir =[
            path:{"${launchDir}/$GCST"},
            mode: 'copy'
            ]
    }

    withName:qc {
        memory = { 3.GB * task.attempt }
        time   = { 1.h  * task.attempt }
        publishDir =[
            path:{"${launchDir}/$GCST/qc"},
            mode: 'copy'
            ]
    }
   
    withName:harmonization_log {
        memory = { 3.GB * task.attempt }
        time   = { 1.h  * task.attempt }
        publishDir =[
            path:{"${launchDir}/$GCST/final"},
            mode: 'copy'
            ]
    }

    withName:update_meta_yaml {
        memory = { 2.GB * task.attempt }
        time   = { 1.h  * task.attempt }
        publishDir =[
            path:{"${launchDir}/$GCST/final"},
            mode: 'copy'
            ]
    }
}
