params {
    to_build='38' 
    chrom='22'
    ref="$HOME/.nextflow/assets/EBISPOT/gwas-sumstats-harmoniser/test_data"
    threshold='0.99'
    harm = true
    file="$HOME/.nextflow/assets/EBISPOT/gwas-sumstats-harmoniser/test_data/GCSTtest.tsv"
    }

process{
    withName:map_to_build {
        memory = { 3.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST"},
            mode: 'copy'
            ]
    }
    
    withName:generate_strand_counts {
        memory = { 3.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/all_sc"},
            mode: 'copy'
            ]
    }
    
    withName:harmonization {
        memory = { 3.GB * task.attempt }
        time   = { 3.h  * task.attempt }
        publishDir =[ 
            path:{"${launchDir}/$GCST/harmonization"},
            mode: 'copy'
            ]
    }
}
