params {
    to_build='38' 
    chrom=['1','22']
    ref=System.getenv('NXF_ASSETS') ? "$NXF_ASSETS/EBISPOT/gwas-sumstats-harmoniser/test_data" : "$HOME/.nextflow/assets/EBISPOT/gwas-sumstats-harmoniser/test_data"
    threshold='0.5'
    harm = true
    version = 'v1.1.10'
    file= System.getenv('NXF_ASSETS') ? "$NXF_ASSETS/EBISPOT/gwas-sumstats-harmoniser/test_data/GCST1.tsv" : "$HOME/.nextflow/assets/EBISPOT/gwas-sumstats-harmoniser/test_data/random_name.tsv"
    }

process{
    
    process.executor = 'local'

    withName:map_to_build {
        memory = { 3.GB }
        time   = { 3.h }
    }

    withName:ten_percent_counts {
        memory = { 3.GB }
        time   = { 3.h }
    }
 
    withName:generate_strand_counts {
        memory = { 3.GB }
        time   = { 3.h }
    }

    withName:harmonization {
        memory = { 3.GB }
        time   = { 3.h }
    }

    withName:qc {
        memory = { 3.GB }
        time   = { 1.h }
    }
   
    withName:harmonization_log {
        memory = { 3.GB }
        time   = { 1.h }
    }

    withName:update_meta_yaml {
        memory = { 2.GB }
        time   = { 1.h }
    }
}
